/* navbar */
.navbar-custom {
  background-color: #dfc894; 
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: rgb(252, 238, 197);
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #482504; 
}

.navbar-custom .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

 
/* Home */
.home-page {
  padding-top: 40px;
  padding-bottom: 40px;
}

.custom-card {
  min-width: 250px;
  background-color: #212529; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
}

.custom-link {
  color: rgb(252, 238, 197);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.custom-link:hover {
  color: #482504; 
}




